/* Error: Undefined variable.
 *   ,
 * 3 |     padding: map-get($spacings, sm) map-get($spacings, md);
 *   |                      ^^^^^^^^^
 *   '
 *   src\_buttons.scss 3:22  @use
 *   src\main.scss 10:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 3 \2502      padding: map-get($spacings, sm) map-get($spacings, md);\d\a   \2502                       ^^^^^^^^^\a   \2575 \a   src\\_buttons.scss 3:22  @use\a   src\\main.scss 10:1      root stylesheet";
}
