// _buttons.scss
@use './variables' as variables;

.btn {
    padding: variables.$spacings;
    border-radius: 4px;
    border: none;
    font-size: variables.$font-size-lg; 
    cursor: pointer;
    transition: 0.2s ease;
    font-weight: 700;
    margin-right: variables.$spacings; 
  
  
    &--primary { background: variables.$color-primary; color: white; }
    &--secondary { background: variables.$color-secondary; color: white; }
    &--danger { background: variables.$color-danger; color: white; }
  
    &:hover { opacity: 0.85; }
  }
  