@use 'variables' as variables;

.table {
  width: 100%;
  max-width: 400px;
  border-collapse: collapse;
  border: $border-width solid $color-border;
  margin-bottom: $spacings * 2;
}

.table th, .table td {
  padding: $spacings;
  border: $border-width solid $color-border;
  text-align: left; 
}

.table th {
  text-align: center;
  background-color: $color-shade;
}

.table td {
  text-align: center;
}

.table thead th {
  background: #f9fafb;
  font-weight: 700;
}

.table--striped tbody tr:nth-child(odd) {
  background: #fafafa;
}
