@use 'variables' as variables;

/*Layout*/
.container {
  
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: variables.$spacings;
  padding-right: variables.$spacings;
  margin-bottom: variables.$spacings * 4; 
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/*Fonts*/
.fs-sm {
  font-size: variables.$font-size-sm;
}

.fs-base {
  font-size: variables.$font-size-base;
}

.fs-lg {
  font-size: variables.$font-size-lg;
}

.fs-xl {
  font-size: variables.$font-size-xl;
}
.fs-xxl {
  font-size: variables.$font-size-xxl;
}
.fs-3xl {
  font-size: variables.$font-size-3xl;
}
.fs-4xl {
  font-size: variables.$font-size-4xl;
}
