$color-primary: #506fd6;
$color-secondary: #ad4e8e; 
$color-text: #180f50;
$color-border: rgb(177, 98, 111);
$color-hero-title: rgb(170, 21, 103);

$color-success: #4caf50;  
$color-danger: #f44336;  
$color-warning: #bac522;
$color-light: #f8f9fa;  
$color-dark: #343a40;    
$color-shade: rgba(255, 200, 221, 0.877);

$font-family-base: Arial, sans-serif; 
$font-size-base: 16px; 

$font-size-sm: 14px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-3xl: 48px;
$font-size-4xl: 64px;

$border-width: 1px;
$space-2: 2px;
$space-3: 3px;

$spacings: 16px